button{
    width: 2em;
    height: 2em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

button:hover{
    cursor:pointer;
}

.fundo{
    background-color:black;
    border-radius: 1em;
}